@media (min-width: 1024px) {
  .nav-items-list {
    height: 100%;

    display: flex;
    gap: 46px;
  }

  .our-crew-list-element:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .our-crew-list-element:nth-of-type(even) .our-crew-list-element-content {
    align-items: flex-end;
  }

  .our-crew-list-element:nth-of-type(even) .tile-description {
    text-align: right;
  }

  .box-header-style {
    align-self: flex-start;
  }

  .box-style {
    display: grid;
    grid-template-columns: 200px 200px 200px;
  }

  .box {
    width: 200px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 25px;
  }
}

@media (hover: hover) {
  .button-style:hover {
    background-color: #ffffff;
    color: black;
    pointer-events: none;
  }
}
