@media (min-width: 576px) {
  /* NAVIGATION */

  .nav-items-list {
    height: 100%;

    display: flex;
    gap: 46px;
  }

  /* BOX SECTION */

  .box-header-style {
    align-self: flex-start;
  }

  .box-style {
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }

  .box {
    width: 200px;
    height: 200px;

    padding: 25px;
  }
}

@media (hover: hover) {
  .button-style:hover {
    background-color: #ffffff;
    color: black;
    pointer-events: none;
  }
}
